<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syh.demo.multi.datasource.jta.mapper.test01.StudentMapper">

	<insert id="save" parameterType="com.syh.demo.multi.datasource.jta.entity.Student">
		insert into student
		values(#{id},
		#{userId},#{score},#{classId})
	</insert>
</mapper>